@font-face{
	font-family:"Leander";
	src:url("fuentes/Leander.ttf");
}
@font-face{
	font-family:"War is Over";
	src:url("fuentes/War is Over.ttf");
}
.fondo{
	margin:0%;
	background-image:url(imagenes/fondo.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

body{
	background-image:url(imagenes/pueblo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header{
	width:100%;
	height:auto;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
main{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}
footer{
	width:100%;
	height:auto;
	display:flex;
	background-color:rgba(0, 0, 0, 0.5);
	justify-content:space-around;
	margin-top:2%;
	align-items:center;
}
img{
	width:auto;
	height:100%;
}
nav{
	width:90%;
	height:auto;
	display:flex;
}
nav a{
	font-family:"Leander";
	color:white;
	margin:auto;
}
nav a:link, nav a:visited{
	
	display:flex;
    font-family:Leander;
    width:auto;
	height:40px;
	align-items:center;
	justify-content: space-around;
	text-decoration:none;
	font-weight:bold;
	color:#c5323f;
	transition:all 1s;
	text-shadow: 0px 0px 30px #ffffff;
}
nav	a:hover{
	font-size:20px;
	color:white;
}
.logo{
	width:12%;
	height:auto;
	align-items:center;
	display:flex;
}
.logo img{
	width:100%;
	margin:10%;
}
.texto{
	width:100%;
	height:auto;
	display:flex;
	align-items:flex-end;
}
.titulo{
	width:40%;
	height:auto;
	display:flex;
	padding-left:10%;
	flex-direction:column;
}
.titulo h2{
	color:white;
	font-family:"Leander";
	font-size: 30px;
	margin:0%;
}
.titulo h1{
	font-family:"War is Over";
	font-size:90px;
	color:#780606;
	text-shadow: 0px 0px 30px #ffffff;
}
.titulo p{
	color:white;
}
.titulo a{
	font-family:"War is Over";
	color:white;
	font-size:50px;
	text-align:center;
	margin:auto;
	padding:2%;
	text-decoration:none;
	margin-bottom:4%;
	transition:0.5s;
}
.titulo a:hover{
	text-shadow: 0px 0px 30px #ffffff;
	transition:0.5s;
}
.categoría{
	display:flex;
	flex-direction:column;
	width:40%;
	height:auto;
	justify-content:space-around;
}
.número{
	display:flex;
	flex-direction:column;
	width:30%;
	height:100%;
	color:white;
}
.número img{
	width:10%;
	height:auto;
}
.contactanos{
	display:flex;
	flex-direction:column;
	width:30%;
	height:auto;
	color:white;
}
.contactanos img{
	width:8%;
	height:auto;
}
.historia{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:flex;
}
.slider{
	display:flex;
	width:50%;
	height:auto;
	margin-left:1%;
	align-items:center;
}
.info{
	display:flex;
	width:50%;
	height:auto;
	flex-direction:column;
}
.info p{
	font-size:20px;
	letter-spacing:1px;
	padding:2%;
	line-height:1.3;
}
h1{
	color:white;
	font-family:"Leander";
	font-size: 30px;
	margin:2%;
}
.whatsapp{
	display:flex;
	letter-spacing:2px;
	font-size:20px;
}
.whatsapp img{
	width:15%;
}
.redes{
	width:80%;
	display:flex;
	justify-content:space-evenly;
	height:100%;
	border-radius:10px;
	background-image:url(imagenes/papel.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin:2%;
	padding:2%;
}
.redes a{
	width:15%;
	height:auto;
	margin:auto;
	transition:0.5s;
	display:flex;
}
.redes a:hover{
	width:20%;
	transition:0.5s;
}
.redes img{
	width:100%;
}
.categoría{
	display:flex;
	flex-wrap:wrap;
	height:145px;
}
.categoría a{
	text-decoration:none;
	color:white;
	height:30px;
	padding:1%;
	padding-bottom:0%;
	width:auto;
	margin-right:auto;
}






/*subrayado*/
.categoría a{
  display: inline-block;
  position: relative;
}

.categoría a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: transform 0.25s ease-out;
}

.categoría a:hover::after {
  transform: scaleX(1);
}

.categoría a::after {
  transform-origin: bottom right;
}

.categoría a:hover::after {
  transform-origin: bottom left;
}


.redes a:hover {
	filter: grayscale(0%);
	}
.redes a{
	filter: grayscale(100%);
	}
	
/* ============================= */
/* ========   SLIDER   ========= */
/* ============================= */

.slider {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid white;
}

.slides {
  display: flex;
  width: 300%;
  animation: moverSlider 15s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display:flex;
  align-items:center;
}

.slide img,
.slide video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}


@keyframes moverSlider {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }

  35%  { transform: translateX(-100%); }
  65%  { transform: translateX(-100%); }

  70%  { transform: translateX(-200%); }
  100% { transform: translateX(-200%); }
}



/* ===== APARICIÓN POR SCROLL ===== */
.seccion {
color: white;
width: 80%;
margin: 5% auto;
font-family: "Leander";
letter-spacing: 1px;
line-height: 1.6;
background-color: rgba(0,0,0,0.50);
padding: 20px;
border-radius: 10px;
opacity: 0;
transform: translateY(50px);
transition: 0.8s ease;
}

.seccion.revelado {
opacity: 1;
transform: translateY(0);
}

.tituloSeccion {
font-size: 35px;
text-shadow: 0px 0px 25px #ffffff;
}


	/*mediaqueries*/
@media screen and (max-width:800px)
{
	.titulo{
		width:100%;
	}
	header{
		flex-direction:column;
		background-color:rgba(0, 0, 0, 0.55);
		border-bottom-left-radius:50px;
		border-bottom-right-radius:50px;
	}
	.logo{
		width:60%;
		justify-content:center;
	}
	nav{
		width:100%;
		height:auto;
		flex-direction:column;
		margin-bottom:4%;
		
	}
	nav a{
		font-size:25px;
	}
	.titulo{
		padding-left:1%;
		padding-right:1%;
	}
	h1{
		text-align:center;
		
	}
	h2{
		padding-left:1%;
		padding-right:1%;
		text-align:center;
		font-size:30px;
	}
	p{
		padding-left:3%;
		padding-right:3%;
		text-align:justify;
		font-size:25px;
	}
	.titulo a{
		font-size:60px;
	}
	footer{
		flex-direction:column;
		background-color:rgba(0, 0, 0, 0.55);
		border-top-left-radius:50px;
		border-top-right-radius:50px;
	}
	.categoría{
		width:100%;
		margin-top:4%;
	}
	.categoría a{
		padding-left:5%;
		font-size:20px;
	}
	.número{
		width:100%;
	}
	.whatsapp{
		justify-content:center;
	}
	.whatsapp img{
		width:20%;
	}
	.contactanos{
		width:100%;
	}
	.redes{
		margin:auto;
		margin-bottom:4%;
	}
	.redes a{
		margin:4%;
		align-items:center;
		width:20%;
	}
	span{
		font-size:27px;
	}
	.personajes{
		flex-direction:column;
	}
}